@{
    ViewData["Title"] = "Categoria Design";
}
<section>
    <h1>Designs</h1>
<div class="product-container">
            <div class="product-card">
                <div class="product-image">
                    <img src="./images/pintura.jpg" class="product-thumb" alt="">
                    <button class="card-btn">Pintura</button>
                </div>    
            </div>
            
            <div class="product-card">
                <div class="product-image">
                    <img src="./images/escultura.jpg" class="product-thumb" alt="">
                    <button class="card-btn">Escultura</button>
                </div>    
            </div>
            <div class="product-card">
                <div class="product-image">
                    <img src="./images/fotografia1.jpg" class="product-thumb" alt="">
                    <button class="card-btn">Fotografia</button>
                </div>    
            </div>
            <div class="product-card">
                <div class="product-image">
                    <img src="./images/posters.jpg" class="product-thumb" alt="">
                    <button class="card-btn">Posters</button>
                </div>    
            </div>
            <div class="product-card">
                <div class="product-image">
                    <img src="./images/design2.jpg" class="product-thumb" alt="">
                    <button class="card-btn">Designs</button>
                </div>    
            </div>
            <div class="product-card">
                <div class="product-image">
                    <img src="./images/musica1.jpg" class="product-thumb" alt="">
                    <button class="card-btn">Musica</button>
                </div>    
            </div>
        </div>
</section>
<section>
<div class="product-container">
            <div class="product-card">
                <div class="product-image">
                    <img src="./images/pintura.jpg" class="product-thumb" alt="">
                    <button class="card-btn">Pintura</button>
                </div>    
            </div>
            
            <div class="product-card">
                <div class="product-image">
                    <img src="./images/escultura.jpg" class="product-thumb" alt="">
                    <button class="card-btn">Escultura</button>
                </div>    
            </div>
            <div class="product-card">
                <div class="product-image">
                    <img src="./images/fotografia1.jpg" class="product-thumb" alt="">
                    <button class="card-btn">Fotografia</button>
                </div>    
            </div>
            <div class="product-card">
                <div class="product-image">
                    <img src="./images/posters.jpg" class="product-thumb" alt="">
                    <button class="card-btn">Posters</button>
                </div>    
            </div>
            <div class="product-card">
                <div class="product-image">
                    <img src="./images/design2.jpg" class="product-thumb" alt="">
                    <button class="card-btn">Designs</button>
                </div>    
            </div>
            <div class="product-card">
                <div class="product-image">
                    <img src="./images/musica1.jpg" class="product-thumb" alt="">
                    <button class="card-btn">Musica</button>
                </div>    
            </div>
        </div>
</section>
<section>
<div class="product-container">
            <div class="product-card">
                <div class="product-image">
                    <img src="./images/pintura.jpg" class="product-thumb" alt="">
                    <button class="card-btn">Pintura</button>
                </div>    
            </div>
            
            <div class="product-card">
                <div class="product-image">
                    <img src="./images/escultura.jpg" class="product-thumb" alt="">
                    <button class="card-btn">Escultura</button>
                </div>    
            </div>
            <div class="product-card">
                <div class="product-image">
                    <img src="./images/fotografia1.jpg" class="product-thumb" alt="">
                    <button class="card-btn">Fotografia</button>
                </div>    
            </div>
            <div class="product-card">
                <div class="product-image">
                    <img src="./images/posters.jpg" class="product-thumb" alt="">
                    <button class="card-btn">Posters</button>
                </div>    
            </div>
            <div class="product-card">
                <div class="product-image">
                    <img src="./images/design2.jpg" class="product-thumb" alt="">
                    <button class="card-btn">Designs</button>
                </div>    
            </div>
            <div class="product-card">
                <div class="product-image">
                    <img src="./images/musica1.jpg" class="product-thumb" alt="">
                    <button class="card-btn">Musica</button>
                </div>    
            </div>
        </div>
</section>
<section>
<div class="product-container">
            <div class="product-card">
                <div class="product-image">
                    <img src="./images/pintura.jpg" class="product-thumb" alt="">
                    <button class="card-btn">Pintura</button>
                </div>    
            </div>
            
            <div class="product-card">
                <div class="product-image">
                    <img src="./images/escultura.jpg" class="product-thumb" alt="">
                    <button class="card-btn">Escultura</button>
                </div>    
            </div>
            <div class="product-card">
                <div class="product-image">
                    <img src="./images/fotografia1.jpg" class="product-thumb" alt="">
                    <button class="card-btn">Fotografia</button>
                </div>    
            </div>
            <div class="product-card">
                <div class="product-image">
                    <img src="./images/posters.jpg" class="product-thumb" alt="">
                    <button class="card-btn">Posters</button>
                </div>    
            </div>
            <div class="product-card">
                <div class="product-image">
                    <img src="./images/design2.jpg" class="product-thumb" alt="">
                    <button class="card-btn">Designs</button>
                </div>    
            </div>
            <div class="product-card">
                <div class="product-image">
                    <img src="./images/musica1.jpg" class="product-thumb" alt="">
                    <button class="card-btn">Musica</button>
                </div>    
            </div>
        </div>
</section>