@{
    ViewData["Title"] = "Home Page";
}


<section class="product"> 
        <h2 class="product-category">Categorias</h2>
        <button class="pre-btn"><img src="./images/arrow.png" alt=""></button>
        <button class="nxt-btn"><img src="./images/arrow.png" alt=""></button>
        <div class="product-container">
            <div class="product-card">
                <div class="product-image">
                    <img src="./images/pintura.jpg" class="product-thumb" alt="">
                    <button class="card-btn" onclick="document.location='Home/PinturaCatObras'">Pintura</button>
                </div>    
            </div>
            
            <div class="product-card">
                <div class="product-image">
                    <img src="./images/escultura.jpg" class="product-thumb" alt="">
                    <button class="card-btn" onclick="document.location='Home/EsculturaCatObras'">Escultura</button>
                </div>    
            </div>
            <div class="product-card">
                <div class="product-image">
                    <img src="./images/fotografia1.jpg" class="product-thumb" alt="">
                    <button class="card-btn" onclick="document.location='Home/FotografiaCatObras'">Fotografia</button>
                </div>    
            </div>
            <div class="product-card">
                <div class="product-image">
                    <img src="./images/posters.jpg" class="product-thumb" alt="">
                    <button class="card-btn" onclick="document.location='Home/PosterCatObras'">Posters</button>
                </div>    
            </div>
            <div class="product-card">
                <div class="product-image">
                    <img src="./images/design2.jpg" class="product-thumb" alt="">
                    <button class="card-btn" onclick="document.location='Home/DesignCatObras'">Designs</button>
                </div>    
            </div>
            <div class="product-card">
                <div class="product-image">
                    <img src="./images/musica1.jpg" class="product-thumb" alt="">
                    <button class="card-btn" onclick="document.location='Home/MusicaCatObras'">Música</button>
                </div>    
            </div>
        </div>
    </section>

    <section class="product"> 
        <h2 class="product-category">Pintura</h2>
        <button class="pre-btn"><img src="./images/arrow.png" alt=""></button>
        <button class="nxt-btn"><img src="./images/arrow.png" alt=""></button>
        <div class="product-container">
            <div class="product-card">
                <div class="product-image">
                    <img src="./images/pintura.jpg" class="product-thumb" alt="">
                    <button class="card-btn">Pintura</button>
                </div>    
            </div>
            
            <div class="product-card">
                <div class="product-image">
                    <img src="./images/escultura.jpg" class="product-thumb" alt="">
                    <button class="card-btn">Escultura</button>
                </div>    
            </div>
            <div class="product-card">
                <div class="product-image">
                    <img src="./images/fotografia1.jpg" class="product-thumb" alt="">
                    <button class="card-btn">Fotografia</button>
                </div>    
            </div>
            <div class="product-card">
                <div class="product-image">
                    <img src="./images/posters.jpg" class="product-thumb" alt="">
                    <button class="card-btn">Posters</button>
                </div>    
            </div>
            <div class="product-card">
                <div class="product-image">
                    <img src="./images/design2.jpg" class="product-thumb" alt="">
                    <button class="card-btn">Designs</button>
                </div>    
            </div>
            <div class="product-card">
                <div class="product-image">
                    <img src="./images/musica1.jpg" class="product-thumb" alt="">
                    <button class="card-btn">Musica</button>
                </div>    
            </div>
        </div>
    </section>

    <section class="product"> 
        <h2 class="product-category">Escultura</h2>
        <button class="pre-btn"><img src="./images/arrow.png" alt=""></button>
        <button class="nxt-btn"><img src="./images/arrow.png" alt=""></button>
        <div class="product-container">
            <div class="product-card">
                <div class="product-image">
                    <img src="./images/pintura.jpg" class="product-thumb" alt="">
                    <button class="card-btn">Pintura</button>
                </div>    
            </div>
            
            <div class="product-card">
                <div class="product-image">
                    <img src="./images/escultura.jpg" class="product-thumb" alt="">
                    <button class="card-btn">Escultura</button>
                </div>    
            </div>
            <div class="product-card">
                <div class="product-image">
                    <img src="./images/fotografia1.jpg" class="product-thumb" alt="">
                    <button class="card-btn">Fotografia</button>
                </div>    
            </div>
            <div class="product-card">
                <div class="product-image">
                    <img src="./images/posters.jpg" class="product-thumb" alt="">
                    <button class="card-btn">Posters</button>
                </div>    
            </div>
            <div class="product-card">
                <div class="product-image">
                    <img src="./images/design2.jpg" class="product-thumb" alt="">
                    <button class="card-btn">Designs</button>
                </div>    
            </div>
            <div class="product-card">
                <div class="product-image">
                    <img src="./images/musica1.jpg" class="product-thumb" alt="">
                    <button class="card-btn">Musica</button>
                </div>    
            </div>
        </div>
    </section>

    <section class="product"> 
        <h2 class="product-category">Fotografia</h2>
        <button class="pre-btn"><img src="./images/arrow.png" alt=""></button>
        <button class="nxt-btn"><img src="./images/arrow.png" alt=""></button>
        <div class="product-container">
            <div class="product-card">
                <div class="product-image">
                    <img src="./images/pintura.jpg" class="product-thumb" alt="">
                    <button class="card-btn">Pintura</button>
                </div>    
            </div>
            
            <div class="product-card">
                <div class="product-image">
                    <img src="./images/escultura.jpg" class="product-thumb" alt="">
                    <button class="card-btn">Escultura</button>
                </div>    
            </div>
            <div class="product-card">
                <div class="product-image">
                    <img src="./images/fotografia1.jpg" class="product-thumb" alt="">
                    <button class="card-btn">Fotografia</button>
                </div>    
            </div>
            <div class="product-card">
                <div class="product-image">
                    <img src="./images/posters.jpg" class="product-thumb" alt="">
                    <button class="card-btn">Posters</button>
                </div>    
            </div>
            <div class="product-card">
                <div class="product-image">
                    <img src="./images/design2.jpg" class="product-thumb" alt="">
                    <button class="card-btn">Designs</button>
                </div>    
            </div>
            <div class="product-card">
                <div class="product-image">
                    <img src="./images/musica1.jpg" class="product-thumb" alt="">
                    <button class="card-btn">Musica</button>
                </div>    
            </div>
        </div>
    </section>

    <section class="product"> 
        <h2 class="product-category">Posters</h2>
        <button class="pre-btn"><img src="./images/arrow.png" alt=""></button>
        <button class="nxt-btn"><img src="./images/arrow.png" alt=""></button>
        <div class="product-container">
            <div class="product-card">
                <div class="product-image">
                    <img src="./images/pintura.jpg" class="product-thumb" alt="">
                    <button class="card-btn">Pintura</button>
                </div>    
            </div>
            
            <div class="product-card">
                <div class="product-image">
                    <img src="./images/escultura.jpg" class="product-thumb" alt="">
                    <button class="card-btn">Escultura</button>
                </div>    
            </div>
            <div class="product-card">
                <div class="product-image">
                    <img src="./images/fotografia1.jpg" class="product-thumb" alt="">
                    <button class="card-btn">Fotografia</button>
                </div>    
            </div>
            <div class="product-card">
                <div class="product-image">
                    <img src="./images/posters.jpg" class="product-thumb" alt="">
                    <button class="card-btn">Posters</button>
                </div>    
            </div>
            <div class="product-card">
                <div class="product-image">
                    <img src="./images/design2.jpg" class="product-thumb" alt="">
                    <button class="card-btn">Designs</button>
                </div>    
            </div>
            <div class="product-card">
                <div class="product-image">
                    <img src="./images/musica1.jpg" class="product-thumb" alt="">
                    <button class="card-btn">Musica</button>
                </div>    
            </div>
        </div>
    </section>
    
    <section class="product"> 
        <h2 class="product-category">Design</h2>
        <button class="pre-btn"><img src="./images/arrow.png" alt=""></button>
        <button class="nxt-btn"><img src="./images/arrow.png" alt=""></button>
        <div class="product-container">
            <div class="product-card">
                <div class="product-image">
                    <img src="./images/pintura.jpg" class="product-thumb" alt="">
                    <button class="card-btn">Pintura</button>
                </div>    
            </div>
            
            <div class="product-card">
                <div class="product-image">
                    <img src="./images/escultura.jpg" class="product-thumb" alt="">
                    <button class="card-btn">Escultura</button>
                </div>    
            </div>
            <div class="product-card">
                <div class="product-image">
                    <img src="./images/fotografia1.jpg" class="product-thumb" alt="">
                    <button class="card-btn">Fotografia</button>
                </div>    
            </div>
            <div class="product-card">
                <div class="product-image">
                    <img src="./images/posters.jpg" class="product-thumb" alt="">
                    <button class="card-btn">Posters</button>
                </div>    
            </div>
            <div class="product-card">
                <div class="product-image">
                    <img src="./images/design2.jpg" class="product-thumb" alt="">
                    <button class="card-btn">Designs</button>
                </div>    
            </div>
            <div class="product-card">
                <div class="product-image">
                    <img src="./images/musica1.jpg" class="product-thumb" alt="">
                    <button class="card-btn">Musica</button>
                </div>    
            </div>
        </div>
    </section>

    <section class="product"> 
        <h2 class="product-category">Música</h2>
        <button class="pre-btn"><img src="./images/arrow.png" alt=""></button>
        <button class="nxt-btn"><img src="./images/arrow.png" alt=""></button>
        <div class="product-container">
            <div class="product-card">
                <div class="product-image">
                    <img src="./images/pintura.jpg" class="product-thumb" alt="">
                    <button class="card-btn">Pintura</button>
                </div>    
            </div>
            
            <div class="product-card">
                <div class="product-image">
                    <img src="./images/escultura.jpg" class="product-thumb" alt="">
                    <button class="card-btn">Escultura</button>
                </div>    
            </div>
            <div class="product-card">
                <div class="product-image">
                    <img src="./images/fotografia1.jpg" class="product-thumb" alt="">
                    <button class="card-btn">Fotografia</button>
                </div>    
            </div>
            <div class="product-card">
                <div class="product-image">
                    <img src="./images/posters.jpg" class="product-thumb" alt="">
                    <button class="card-btn">Posters</button>
                </div>    
            </div>
            <div class="product-card">
                <div class="product-image">
                    <img src="./images/design2.jpg" class="product-thumb" alt="">
                    <button class="card-btn">Designs</button>
                </div>    
            </div>
            <div class="product-card">
                <div class="product-image">
                    <img src="./images/musica1.jpg" class="product-thumb" alt="">
                    <button class="card-btn">Musica</button>
                </div>    
            </div>
        </div>
    </section>

    <script src="./js/site.js"></script>