@{
    ViewData["Title"] = "Perfil";
}

<section>
    <h1>Nome Artista</h1>
<img src="" />
</section>


<body>
<div id="element1">
    <h4>Bio</h4>

    <p>Isto é a biografia do Artista.</p>
</div>
<div id="element2">
    <h4>Conhecido por/Artigo mais cobiçado/website/Social Media/Próximos eventos ou exibições</h4>

    <ul>Isto é um exemplo</ul>
    <ul>Isto é um exemplo</ul>
    <ul>Isto é um exemplo</ul>
    <ul>Isto é um exemplo</ul>
    <ul>Isto é um exemplo</ul>
</div>

</body>
