@{
    ViewData["Title"] = "Produto";
}
<div class="wt-position-relative wt-flex-lg-6 wt-flex-direction-row-lg wt-mb-md-2 wt-mb-lg-0 wt-mr-lg-3 wt-pr-xl-2">
                                

                                <div class="image-wrapper wt-position-relative carousel-container-responsive">

                                        
                                        <button class="btn--focus  wt-position-absolute wt-btn wt-btn--light wt-btn--small wt-z-index-2 wt-btn--filled wt-btn--icon wt-btn--fixed-floating wt-position-right wt-mr-xs-2 wt-mt-xs-2" data-ui="favorite-listing-button" data-listing-id="1081962249" data-accessible-btn-fave="" data-favorite-label="Add to Favourites" data-favorited-label="Remove from Favourites" data-always-show="true">
            <div class="favorite-listing-button-icon-container should-animate " data-source="listing-page" data-btn-fave="" data-neu-fave="" data-favorite-icon-container="">
                <span class="etsy-icon wt-nudge-t-2
                    
                    
                        
                        
                            wt-display-block
                        
                    " data-not-favorited-icon=""><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false"><path d="M12,21C10.349,21,2,14.688,2,9,2,5.579,4.364,3,7.5,3A6.912,6.912,0,0,1,12,5.051,6.953,6.953,0,0,1,16.5,3C19.636,3,22,5.579,22,9,22,14.688,13.651,21,12,21ZM7.5,5C5.472,5,4,6.683,4,9c0,4.108,6.432,9.325,8,10,1.564-.657,8-5.832,8-10,0-2.317-1.472-4-3.5-4-1.979,0-3.7,2.105-3.721,2.127L11.991,8.1,11.216,7.12C11.186,7.083,9.5,5,7.5,5Z"></path></svg></span>
                <span class="etsy-icon wt-nudge-t-2 wt-text-brick
                    
                    
                        
                        
                            wt-display-none
                        
                    " data-favorited-icon=""><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false"><path d="M16.5,3A6.953,6.953,0,0,0,12,5.051,6.912,6.912,0,0,0,7.5,3C4.364,3,2,5.579,2,9c0,5.688,8.349,12,10,12S22,14.688,22,9C22,5.579,19.636,3,16.5,3Z"></path></svg></span>
            </div>
            <!--icon font and display:none; elements -->
            <span aria-hidden="true" class="icon"></span>
            <span class="wt-screen-reader-only" data-a11y-label="">
                
                Add to Favourites
            </span>
            </button>

                                    <div class="listing-page-image-carousel-component wt-display-flex-xs is-initialized" data-component="listing-page-image-carousel" data-palette-listing-id="1081962249" data-shop-id="21847067">

    <div class="image-carousel-container wt-position-relative wt-flex-xs-6 wt-order-xs-2
                
                show-scrollable-thumbnails">

        <ul class="wt-list-unstyled wt-overflow-hidden wt-position-relative carousel-pane-list" style="padding-top: 50%;" data-carousel-pane-list="" tabindex="0">
                    <li class=" wt-position-absolute wt-width-full wt-height-full wt-position-top wt-position-left carousel-pane" data-carousel-pane="" data-index="0" data-image-id="3318545828" data-palette-listing-image="">
                        <img class="wt-max-width-full wt-horizontal-center wt-vertical-center carousel-image wt-rounded" alt="Wooden Ladder 25 35 60 70 80 100 140 cm. Ladder Step image 1" data-carousel-first-image="" src="https://i.etsystatic.com/21847067/r/il/e99079/3318545828/il_794xN.3318545828_4lr9.jpg" srcset="https://i.etsystatic.com/21847067/r/il/e99079/3318545828/il_794xN.3318545828_4lr9.jpg 1x, https://i.etsystatic.com/21847067/r/il/e99079/3318545828/il_1588xN.3318545828_4lr9.jpg 2x" fetchpriority="high" data-original-image-width="2160" data-src-zoom-image="https://i.etsystatic.com/21847067/r/il/e99079/3318545828/il_fullxfull.3318545828_4lr9.jpg" data-index="0">
                    </li>
                    <li class="wt-display-none  wt-position-absolute wt-width-full wt-height-full wt-position-top wt-position-left carousel-pane" data-carousel-pane="" data-index="1" data-image-id="3366238347" data-palette-listing-image="">
                        <img class="wt-max-width-full wt-horizontal-center wt-vertical-center carousel-image wt-rounded" alt="Wooden Ladder 25 35 60 70 80 100 140 cm. Ladder Step image 2" data-src="https://i.etsystatic.com/21847067/r/il/fc9069/3366238347/il_794xN.3366238347_mn7t.jpg" data-srcset="https://i.etsystatic.com/21847067/r/il/fc9069/3366238347/il_794xN.3366238347_mn7t.jpg 1x, https://i.etsystatic.com/21847067/r/il/fc9069/3366238347/il_1588xN.3366238347_mn7t.jpg 2x" data-original-image-width="1080" data-src-zoom-image="https://i.etsystatic.com/21847067/r/il/fc9069/3366238347/il_fullxfull.3366238347_mn7t.jpg" data-index="1" loading="lazy" srcset="https://i.etsystatic.com/21847067/r/il/fc9069/3366238347/il_794xN.3366238347_mn7t.jpg 1x, https://i.etsystatic.com/21847067/r/il/fc9069/3366238347/il_1588xN.3366238347_mn7t.jpg 2x" src="https://i.etsystatic.com/21847067/r/il/fc9069/3366238347/il_794xN.3366238347_mn7t.jpg" data-ll-status="native">
                    </li>
                    <li class="wt-display-none  wt-position-absolute wt-width-full wt-height-full wt-position-top wt-position-left carousel-pane" data-carousel-pane="" data-index="2" data-image-id="3318546506" data-palette-listing-image="">
                        <img class="wt-max-width-full wt-horizontal-center wt-vertical-center carousel-image wt-rounded" alt="Wooden Ladder 25 35 60 70 80 100 140 cm. Ladder Step image 3" data-src="https://i.etsystatic.com/21847067/r/il/a2cdd1/3318546506/il_794xN.3318546506_p1zl.jpg" data-srcset="https://i.etsystatic.com/21847067/r/il/a2cdd1/3318546506/il_794xN.3318546506_p1zl.jpg 1x, https://i.etsystatic.com/21847067/r/il/a2cdd1/3318546506/il_1588xN.3318546506_p1zl.jpg 2x" data-original-image-width="1080" data-src-zoom-image="https://i.etsystatic.com/21847067/r/il/a2cdd1/3318546506/il_fullxfull.3318546506_p1zl.jpg" data-index="2" loading="lazy" srcset="https://i.etsystatic.com/21847067/r/il/a2cdd1/3318546506/il_794xN.3318546506_p1zl.jpg 1x, https://i.etsystatic.com/21847067/r/il/a2cdd1/3318546506/il_1588xN.3318546506_p1zl.jpg 2x" src="https://i.etsystatic.com/21847067/r/il/a2cdd1/3318546506/il_794xN.3318546506_p1zl.jpg" data-ll-status="native">
                    </li>
                    <li class="wt-display-none  wt-position-absolute wt-width-full wt-height-full wt-position-top wt-position-left carousel-pane" data-carousel-pane="" data-index="3" data-image-id="3318545068" data-palette-listing-image="">
                        <img class="wt-max-width-full wt-horizontal-center wt-vertical-center carousel-image wt-rounded" alt="Wooden Ladder 25 35 60 70 80 100 140 cm. Ladder Step image 4" data-src="https://i.etsystatic.com/21847067/r/il/f199de/3318545068/il_794xN.3318545068_8f0i.jpg" data-srcset="https://i.etsystatic.com/21847067/r/il/f199de/3318545068/il_794xN.3318545068_8f0i.jpg 1x, https://i.etsystatic.com/21847067/r/il/f199de/3318545068/il_1588xN.3318545068_8f0i.jpg 2x" data-original-image-width="1080" data-src-zoom-image="https://i.etsystatic.com/21847067/r/il/f199de/3318545068/il_fullxfull.3318545068_8f0i.jpg" data-index="3" loading="lazy" srcset="https://i.etsystatic.com/21847067/r/il/f199de/3318545068/il_794xN.3318545068_8f0i.jpg 1x, https://i.etsystatic.com/21847067/r/il/f199de/3318545068/il_1588xN.3318545068_8f0i.jpg 2x" src="https://i.etsystatic.com/21847067/r/il/f199de/3318545068/il_794xN.3318545068_8f0i.jpg" data-ll-status="native">
                    </li>
                    <li class="wt-display-none  wt-position-absolute wt-width-full wt-height-full wt-position-top wt-position-left carousel-pane" data-carousel-pane="" data-index="4" data-image-id="3366236939" data-palette-listing-image="">
                        <img class="wt-max-width-full wt-horizontal-center wt-vertical-center carousel-image wt-rounded" alt="Wooden Ladder 25 35 60 70 80 100 140 cm. Ladder Step image 5" data-src="https://i.etsystatic.com/21847067/r/il/a5d05f/3366236939/il_794xN.3366236939_fbzo.jpg" data-srcset="https://i.etsystatic.com/21847067/r/il/a5d05f/3366236939/il_794xN.3366236939_fbzo.jpg 1x, https://i.etsystatic.com/21847067/r/il/a5d05f/3366236939/il_1588xN.3366236939_fbzo.jpg 2x" data-original-image-width="2547" data-src-zoom-image="https://i.etsystatic.com/21847067/r/il/a5d05f/3366236939/il_fullxfull.3366236939_fbzo.jpg" data-index="4" loading="lazy" srcset="https://i.etsystatic.com/21847067/r/il/a5d05f/3366236939/il_794xN.3366236939_fbzo.jpg 1x, https://i.etsystatic.com/21847067/r/il/a5d05f/3366236939/il_1588xN.3366236939_fbzo.jpg 2x" src="https://i.etsystatic.com/21847067/r/il/a5d05f/3366236939/il_794xN.3366236939_fbzo.jpg" data-ll-status="native">
                    </li>
                    <li class="wt-display-none  wt-position-absolute wt-width-full wt-height-full wt-position-top wt-position-left carousel-pane" data-carousel-pane="" data-index="5" data-image-id="3366236903" data-palette-listing-image="">
                        <img class="wt-max-width-full wt-horizontal-center wt-vertical-center carousel-image wt-rounded" alt="Wooden Ladder 25 35 60 70 80 100 140 cm. Ladder Step image 6" data-src="https://i.etsystatic.com/21847067/r/il/5aa481/3366236903/il_794xN.3366236903_tqov.jpg" data-srcset="https://i.etsystatic.com/21847067/r/il/5aa481/3366236903/il_794xN.3366236903_tqov.jpg 1x, https://i.etsystatic.com/21847067/r/il/5aa481/3366236903/il_1588xN.3366236903_tqov.jpg 2x" data-original-image-width="1080" data-src-zoom-image="https://i.etsystatic.com/21847067/r/il/5aa481/3366236903/il_fullxfull.3366236903_tqov.jpg" data-index="5" loading="lazy" srcset="https://i.etsystatic.com/21847067/r/il/5aa481/3366236903/il_794xN.3366236903_tqov.jpg 1x, https://i.etsystatic.com/21847067/r/il/5aa481/3366236903/il_1588xN.3366236903_tqov.jpg 2x" src="https://i.etsystatic.com/21847067/r/il/5aa481/3366236903/il_794xN.3366236903_tqov.jpg" data-ll-status="native">
                    </li>
                    <li class="wt-display-none  wt-position-absolute wt-width-full wt-height-full wt-position-top wt-position-left carousel-pane" data-carousel-pane="" data-index="6" data-image-id="3318545066" data-palette-listing-image="">
                        <img class="wt-max-width-full wt-horizontal-center wt-vertical-center carousel-image wt-rounded" alt="Wooden Ladder 25 35 60 70 80 100 140 cm. Ladder Step image 7" data-src="https://i.etsystatic.com/21847067/r/il/030e92/3318545066/il_794xN.3318545066_9wgp.jpg" data-srcset="https://i.etsystatic.com/21847067/r/il/030e92/3318545066/il_794xN.3318545066_9wgp.jpg 1x, https://i.etsystatic.com/21847067/r/il/030e92/3318545066/il_1588xN.3318545066_9wgp.jpg 2x" data-original-image-width="1080" data-src-zoom-image="https://i.etsystatic.com/21847067/r/il/030e92/3318545066/il_fullxfull.3318545066_9wgp.jpg" data-index="6" loading="lazy" srcset="https://i.etsystatic.com/21847067/r/il/030e92/3318545066/il_794xN.3318545066_9wgp.jpg 1x, https://i.etsystatic.com/21847067/r/il/030e92/3318545066/il_1588xN.3318545066_9wgp.jpg 2x" src="https://i.etsystatic.com/21847067/r/il/030e92/3318545066/il_794xN.3318545066_9wgp.jpg" data-ll-status="native">
                    </li>
                    <li class="wt-display-none  wt-position-absolute wt-width-full wt-height-full wt-position-top wt-position-left carousel-pane" data-carousel-pane="" data-index="7" data-image-id="3318542710" data-palette-listing-image="">
                        <img class="wt-max-width-full wt-horizontal-center wt-vertical-center carousel-image wt-rounded" alt="Wooden Ladder 25 35 60 70 80 100 140 cm. Ladder Step image 8" data-src="https://i.etsystatic.com/21847067/r/il/cb4123/3318542710/il_794xN.3318542710_hu9m.jpg" data-srcset="https://i.etsystatic.com/21847067/r/il/cb4123/3318542710/il_794xN.3318542710_hu9m.jpg 1x, https://i.etsystatic.com/21847067/r/il/cb4123/3318542710/il_1588xN.3318542710_hu9m.jpg 2x" data-original-image-width="1080" data-src-zoom-image="https://i.etsystatic.com/21847067/r/il/cb4123/3318542710/il_fullxfull.3318542710_hu9m.jpg" data-index="7" loading="lazy" srcset="https://i.etsystatic.com/21847067/r/il/cb4123/3318542710/il_794xN.3318542710_hu9m.jpg 1x, https://i.etsystatic.com/21847067/r/il/cb4123/3318542710/il_1588xN.3318542710_hu9m.jpg 2x" src="https://i.etsystatic.com/21847067/r/il/cb4123/3318542710/il_794xN.3318542710_hu9m.jpg" data-ll-status="native">
                    </li>
                    <li class="wt-display-none  wt-position-absolute wt-width-full wt-height-full wt-position-top wt-position-left carousel-pane" data-carousel-pane="" data-index="8" data-image-id="3318542712" data-palette-listing-image="">
                        <img class="wt-max-width-full wt-horizontal-center wt-vertical-center carousel-image wt-rounded" alt="Wooden Ladder 25 35 60 70 80 100 140 cm. Ladder Step image 9" data-src="https://i.etsystatic.com/21847067/r/il/b1fa5a/3318542712/il_794xN.3318542712_6e71.jpg" data-srcset="https://i.etsystatic.com/21847067/r/il/b1fa5a/3318542712/il_794xN.3318542712_6e71.jpg 1x, https://i.etsystatic.com/21847067/r/il/b1fa5a/3318542712/il_1588xN.3318542712_6e71.jpg 2x" data-original-image-width="1080" data-src-zoom-image="https://i.etsystatic.com/21847067/r/il/b1fa5a/3318542712/il_fullxfull.3318542712_6e71.jpg" data-index="8" loading="lazy" srcset="https://i.etsystatic.com/21847067/r/il/b1fa5a/3318542712/il_794xN.3318542712_6e71.jpg 1x, https://i.etsystatic.com/21847067/r/il/b1fa5a/3318542712/il_1588xN.3318542712_6e71.jpg 2x" src="https://i.etsystatic.com/21847067/r/il/b1fa5a/3318542712/il_794xN.3318542712_6e71.jpg" data-ll-status="native">
                    </li>
                    <li class="wt-display-none  wt-position-absolute wt-width-full wt-height-full wt-position-top wt-position-left carousel-pane" data-carousel-pane="" data-index="9" data-image-id="3900310044" data-palette-listing-image="">
                        <img class="wt-max-width-full wt-horizontal-center wt-vertical-center carousel-image wt-rounded" alt="Wooden Ladder 25 35 60 70 80 100 140 cm. Ladder Step image 10" data-src="https://i.etsystatic.com/21847067/r/il/e27bdc/3900310044/il_794xN.3900310044_c1fz.jpg" data-srcset="https://i.etsystatic.com/21847067/r/il/e27bdc/3900310044/il_794xN.3900310044_c1fz.jpg 1x, https://i.etsystatic.com/21847067/r/il/e27bdc/3900310044/il_1588xN.3900310044_c1fz.jpg 2x" data-original-image-width="1100" data-src-zoom-image="https://i.etsystatic.com/21847067/r/il/e27bdc/3900310044/il_fullxfull.3900310044_c1fz.jpg" data-index="9" loading="lazy" srcset="https://i.etsystatic.com/21847067/r/il/e27bdc/3900310044/il_794xN.3900310044_c1fz.jpg 1x, https://i.etsystatic.com/21847067/r/il/e27bdc/3900310044/il_1588xN.3900310044_c1fz.jpg 2x" src="https://i.etsystatic.com/21847067/r/il/e27bdc/3900310044/il_794xN.3900310044_c1fz.jpg" data-ll-status="native">
                    </li>
        </ul>

            <button data-carousel-nav-button="" data-direction="prev" class="wt-circle wt-position-absolute wt-vertical-center wt-position-left wt-btn wt-btn--filled wt-btn--light wt-btn--icon wt-shadow-01 wt-ml-xs-2" aria-label="Previous image">
                <span class="etsy-icon wt-icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false"><path d="M16,21a0.994,0.994,0,0,1-.664-0.253L5.5,12l9.841-8.747a1,1,0,0,1,1.328,1.494L8.5,12l8.159,7.253A1,1,0,0,1,16,21Z"></path></svg></span>
            </button>
            <button data-carousel-nav-button="" data-direction="next" class="wt-circle wt-position-absolute wt-vertical-center wt-position-right wt-btn wt-btn--filled wt-btn--light wt-btn--icon wt-shadow-01 wt-mr-xs-2" aria-label="Next image">
                <span class="etsy-icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false"><path d="M8,21a1,1,0,0,1-.664-1.747L15.5,12,7.336,4.747A1,1,0,0,1,8.664,3.253L18.5,12,8.664,20.747A0.994,0.994,0,0,1,8,21Z"></path></svg></span>
            </button>
    </div>

            <div>
                <div class="carousel-pagination-item-v2 wt-position-absolute wt-position-top wt-position-left wt-z-index-9" data-thumbnail-scroll-up="">

                </div>

                <div class="carousel-pagination-item-v2 wt-position-absolute wt-position-bottom wt-position-left wt-z-index-9" data-thumbnail-scroll-down="">

                </div>

                <div class="wt-position-absolute wt-overflow-scroll wt-position-top wt-position-bottom
                    wt-position-left scroll-container-no-scrollbar" data-thumbnail-scroll-container="">
            <ul data-carousel-pagination-list="" class="wt-list-unstyled wt-display-flex-xs
                wt-order-xs-1 wt-flex-direction-column-xs wt-align-items-flex-end">
                        <li data-carousel-pagination-item="" data-index="0" data-image-id="3318545828" class="wt-mr-xs-1 wt-mb-xs-1 wt-bg-gray wt-flex-shrink-xs-0 wt-rounded carousel-pagination-item-v2 is-active" tabindex="0">
                            <img class="wt-animated wt-max-width-full wt-width-full wt-animated--appear-01" src="https://i.etsystatic.com/21847067/r/il/e99079/3318545828/il_75x75.3318545828_4lr9.jpg" alt="Wooden Ladder 25 35 60 70 80 100 140 cm. Ladder Step image 1" data-carousel-thumbnail-image="" data-src-delay="https://i.etsystatic.com/21847067/r/il/e99079/3318545828/il_75x75.3318545828_4lr9.jpg" aria-label="product image Natur Holz 1 of 10" data-should-fade-in-on-load="true">
                        </li>

                        <li data-carousel-pagination-item="" data-index="1" data-image-id="3366238347" class="wt-mr-xs-1 wt-mb-xs-1 wt-bg-gray wt-flex-shrink-xs-0 wt-rounded carousel-pagination-item-v2" tabindex="0">
                            <img class="wt-animated wt-max-width-full wt-width-full wt-animated--appear-01" src="https://i.etsystatic.com/21847067/r/il/fc9069/3366238347/il_75x75.3366238347_mn7t.jpg" alt="Wooden Ladder 25 35 60 70 80 100 140 cm. Ladder Step image 2" data-carousel-thumbnail-image="" data-src-delay="https://i.etsystatic.com/21847067/r/il/fc9069/3366238347/il_75x75.3366238347_mn7t.jpg" aria-label="product image 2 of 10" data-should-fade-in-on-load="true">
                        </li>

                        <li data-carousel-pagination-item="" data-index="2" data-image-id="3318546506" class="wt-mr-xs-1 wt-mb-xs-1 wt-bg-gray wt-flex-shrink-xs-0 wt-rounded carousel-pagination-item-v2" tabindex="0">
                            <img class="wt-animated wt-max-width-full wt-width-full wt-animated--appear-01" src="https://i.etsystatic.com/21847067/r/il/a2cdd1/3318546506/il_75x75.3318546506_p1zl.jpg" alt="Wooden Ladder 25 35 60 70 80 100 140 cm. Ladder Step image 3" data-carousel-thumbnail-image="" data-src-delay="https://i.etsystatic.com/21847067/r/il/a2cdd1/3318546506/il_75x75.3318546506_p1zl.jpg" aria-label="product image 3 of 10" data-should-fade-in-on-load="true">
                        </li>

                        <li data-carousel-pagination-item="" data-index="3" data-image-id="3318545068" class="wt-mr-xs-1 wt-mb-xs-1 wt-bg-gray wt-flex-shrink-xs-0 wt-rounded carousel-pagination-item-v2" tabindex="0">
                            <img class="wt-animated wt-max-width-full wt-width-full wt-animated--appear-01" src="https://i.etsystatic.com/21847067/r/il/f199de/3318545068/il_75x75.3318545068_8f0i.jpg" alt="Wooden Ladder 25 35 60 70 80 100 140 cm. Ladder Step image 4" data-carousel-thumbnail-image="" data-src-delay="https://i.etsystatic.com/21847067/r/il/f199de/3318545068/il_75x75.3318545068_8f0i.jpg" aria-label="product image 4 of 10" data-should-fade-in-on-load="true">
                        </li>

                        <li data-carousel-pagination-item="" data-index="4" data-image-id="3366236939" class="wt-mr-xs-1 wt-mb-xs-1 wt-bg-gray wt-flex-shrink-xs-0 wt-rounded carousel-pagination-item-v2" tabindex="0">
                            <img class="wt-animated wt-max-width-full wt-width-full wt-animated--appear-01" src="https://i.etsystatic.com/21847067/r/il/a5d05f/3366236939/il_75x75.3366236939_fbzo.jpg" alt="Wooden Ladder 25 35 60 70 80 100 140 cm. Ladder Step image 5" data-carousel-thumbnail-image="" data-src-delay="https://i.etsystatic.com/21847067/r/il/a5d05f/3366236939/il_75x75.3366236939_fbzo.jpg" aria-label="product image 5 of 10" data-should-fade-in-on-load="true">
                        </li>

                        <li data-carousel-pagination-item="" data-index="5" data-image-id="3366236903" class="wt-mr-xs-1 wt-mb-xs-1 wt-bg-gray wt-flex-shrink-xs-0 wt-rounded carousel-pagination-item-v2" tabindex="0">
                            <img class="wt-animated wt-max-width-full wt-width-full wt-animated--appear-01" src="https://i.etsystatic.com/21847067/r/il/5aa481/3366236903/il_75x75.3366236903_tqov.jpg" alt="Wooden Ladder 25 35 60 70 80 100 140 cm. Ladder Step image 6" data-carousel-thumbnail-image="" data-src-delay="https://i.etsystatic.com/21847067/r/il/5aa481/3366236903/il_75x75.3366236903_tqov.jpg" aria-label="product image 6 of 10" data-should-fade-in-on-load="true">
                        </li>

                        <li data-carousel-pagination-item="" data-index="6" data-image-id="3318545066" class="wt-mr-xs-1 wt-mb-xs-1 wt-bg-gray wt-flex-shrink-xs-0 wt-rounded carousel-pagination-item-v2" tabindex="0">
                            <img class="wt-animated wt-max-width-full wt-width-full wt-animated--appear-01" src="https://i.etsystatic.com/21847067/r/il/030e92/3318545066/il_75x75.3318545066_9wgp.jpg" alt="Wooden Ladder 25 35 60 70 80 100 140 cm. Ladder Step image 7" data-carousel-thumbnail-image="" data-src-delay="https://i.etsystatic.com/21847067/r/il/030e92/3318545066/il_75x75.3318545066_9wgp.jpg" aria-label="product image 7 of 10" data-should-fade-in-on-load="true">
                        </li>

                        <li data-carousel-pagination-item="" data-index="7" data-image-id="3318542710" class="wt-mr-xs-1 wt-mb-xs-1 wt-bg-gray wt-flex-shrink-xs-0 wt-rounded carousel-pagination-item-v2" tabindex="0">
                            <img class="wt-animated wt-max-width-full wt-width-full wt-animated--appear-01" src="https://i.etsystatic.com/21847067/r/il/cb4123/3318542710/il_75x75.3318542710_hu9m.jpg" alt="Wooden Ladder 25 35 60 70 80 100 140 cm. Ladder Step image 8" data-carousel-thumbnail-image="" data-src-delay="https://i.etsystatic.com/21847067/r/il/cb4123/3318542710/il_75x75.3318542710_hu9m.jpg" aria-label="product image 8 of 10" data-should-fade-in-on-load="true">
                        </li>

                        <li data-carousel-pagination-item="" data-index="8" data-image-id="3318542712" class="wt-mr-xs-1 wt-mb-xs-1 wt-bg-gray wt-flex-shrink-xs-0 wt-rounded carousel-pagination-item-v2" tabindex="0">
                            <img class="wt-animated wt-max-width-full wt-width-full wt-animated--appear-01" src="https://i.etsystatic.com/21847067/r/il/b1fa5a/3318542712/il_75x75.3318542712_6e71.jpg" alt="Wooden Ladder 25 35 60 70 80 100 140 cm. Ladder Step image 9" data-carousel-thumbnail-image="" data-src-delay="https://i.etsystatic.com/21847067/r/il/b1fa5a/3318542712/il_75x75.3318542712_6e71.jpg" aria-label="product image 9 of 10" data-should-fade-in-on-load="true">
                        </li>

                        <li data-carousel-pagination-item="" data-index="9" data-image-id="3900310044" class="wt-mr-xs-1 wt-mb-xs-1 wt-bg-gray wt-flex-shrink-xs-0 wt-rounded carousel-pagination-item-v2" tabindex="0">
                            <img class="wt-animated wt-max-width-full wt-width-full wt-animated--appear-01" src="https://i.etsystatic.com/21847067/r/il/e27bdc/3900310044/il_75x75.3900310044_c1fz.jpg" alt="Wooden Ladder 25 35 60 70 80 100 140 cm. Ladder Step image 10" data-carousel-thumbnail-image="" data-src-delay="https://i.etsystatic.com/21847067/r/il/e27bdc/3900310044/il_75x75.3900310044_c1fz.jpg" aria-label="product image 10 of 10" data-should-fade-in-on-load="true">
                        </li>

            </ul>
                </div>
            </div>

        
</div>

                                </div>
                            </div>